<section id="services" class="section bg-light">
    <div class="container px-lg-5">
      <!-- Heading -->
      <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0">
          Services
        </h2>
        <p class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0">
          What I Do?<span class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span>
        </p>
      </div>
      <!-- Heading end-->

      <div class="row">
        <div class="col-lg-11 mx-auto">
          <div class="row">
            <div class="col-md-6" *ngFor="let o of PersonalDetails?.WhatIDo">
              <div class="featured-box style-3 mb-5">
                <div class="featured-box-icon text-primary bg-white shadow-sm rounded">
                  <i class="{{o.IconName}}"></i>
                </div>
                <h3>{{o.Title}}</h3>
                <p class="mb-0">
                    {{o.Description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>