<div id="main-wrapper">
    <app-side-bar [PersonalDetails]="porfolioDetail"></app-side-bar>
    <div id="content" role="main">
        <app-introduction [PersonalDetails]="porfolioDetail"></app-introduction>
        <app-about-me [PersonalDetails]="porfolioDetail"></app-about-me>
        <app-what-ido [PersonalDetails]="porfolioDetail"></app-what-ido>
        <app-my-resume [PersonalDetails]="porfolioDetail"></app-my-resume>
        <app-portfolio [PersonalDetails]="porfolioDetail"></app-portfolio>
        <!-- <app-testimonials [PersonalDetails]="porfolioDetail"></app-testimonials> -->
        <app-contact-us [PersonalDetails]="porfolioDetail"></app-contact-us>
    </div>
</div>