<section id="home">
    <div class="hero-wrap">
      <div class="hero-mask opacity-8 bg-dark"></div>
      <div class="hero-bg parallax" style="background-image: url('../assets/images/intro-bg.jpg')"></div>
      <div class="hero-content section d-flex min-vh-100">
        <div class="container my-auto">
          <div class="row">
            <div class="col-12 text-center">
              <div class="typed-strings">
                <p></p>
               
              </div>
              

              <p class="text-7 fw-500 text-white mb-2 mb-md-3">Welcome</p>
              <ngx-typed-js [strings]="PersonalDetails?.UserDetail?.TagLines" >
              <h2 class="text-16 fw-600 text-white mb-2 mb-md-3">
                <span class="typing"></span>
              </h2>
            </ngx-typed-js>

              <p class="text-5 text-light mb-4">
                based in {{PersonalDetails?.UserDetail?.City }}, {{PersonalDetails?.UserDetail?.State }}.
              </p>
              
            </div>
          </div>
        </div>
        <a href="#about" class="scroll-down-arrow text-white smooth-scroll"><span class="animated"><i
              class="fa fa-chevron-down"></i></span></a>
      </div>
    </div>
  </section>
